.navbar {
    background-color:rgba(3,63,64,1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .2rem;
  }
  
  .navbar_brand {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar_links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar_links li {
    margin-right: 20px;
  }
  
  .navbar_links li:last-child {
    margin-right: 0;
  }
  
  .navbar_links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar_links li a:hover {
    color: #ddd;
  }